<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        body {
            background-color: #ffffff; /* Fondo blanco */
            color: #000000; /* Todas las letras en negro */
        }

        .btn-custom {
            background-color: #808080; /* Color gris para el botón */
            color: #ffffff; /* Color de texto del botón en blanco para contraste */
        }

        .btn-custom:hover {
            background-color: #696969; /* Color gris más oscuro al pasar el ratón sobre el botón */
        }
    </style>
</head>
<body>
    <div class="container text-center mt-5">
        <h1>Bienvenido a la Página Principal</h1> <!-- Elimina la clase text-success para que el texto sea negro -->
        <a href="/login" class="btn btn-custom mt-3">Iniciar Sesión</a>
    </div>
</body>
</html>
